.bodyLocal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1004d;
  width: 100%;
}
.gridLocal {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: auto;
  justify-content: center;
  padding: 50px 0 50px 0;
  gap: 20px;
  width: 80%;
}
.tituloLocal {
  color: #f7f7f7;
  padding-top: 50px;
}
@media (width < 800px) {
  .gridLocal {
    grid-template-columns: 40% 40%;
  }
  .descuento {
    transform: scale(0.9);
  }
  .divPrecio {
    gap: 0;
  }
}
