.bodyNegocios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
  width: 100%;
  background-color: #f1004d;
}
.tituloNegocios {
  color: white;
}
.loginBtn {
  margin: 0 25% 0 25%;
  width: calc(50% - 20px);
}
@media (width < 800px) {
  .bodyNegocios {
    height: calc(100vh - 300px);
  }
  .loginBtn {
    width: calc(80% - 20px);
  }
}
